<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="ordersTest.css">
</head>
<body>
<div id="app">
    <div id="input-defender" class="container-left">
        <p> Fill in the values: </p>
        <p v-bind:class="defenderResult">Defender: {{ defenderResult }}</p>
        <input type="text" id="defender" v-model="defender" maxlength="1">
        <button v-on:click="btnSubmit">Calculate Results</button>
        <p> {{ defenderOdds }}</p>
    </div>
    <div id="input-attacker" class="container-right">
        <p> DUAL-COMBAT </p>
        <div>
            <p v-bind:class="a1result">Attacker: {{ a1result }}</p>
            <input type="text" id="attacker" v-model="attacker" maxlength="1">
        </div>
        <div>
            </br>
            <p> MULTI-SERVER </p>
            <p v-bind:class="s1result">Server 1: {{ s1result }}</p>
            <input type="text" id="server1" v-model="server1" maxlength="1">
            <p>Server 2: {{ s2result}} </p>
            <input type="text" id="server2" v-model="server2" maxlength="1">
            <p>Server 3: {{ s3result}} </p>
            <input type="text" id="server3" v-model="server3" maxlength="1">
            <p>Server 4: {{ s4result}}</p>
            <input type="text" id="server4" v-model="server4" maxlength="1">
            <p>Server 5: {{ s5result}}</p>
            <input type="text" id="server5" v-model="server5" maxlength="1">
        </div>

    </div>
    <div id="input-attackers" class="container-right">
        <p> MULTI-COMBAT </p>
        <p v-bind:class="greenResult">Green: {{ greenResult}} </p>
        <input type="text" id="plGreen" v-model="plGreen">
        <p v-bind:class="blueResult">Blue: {{ blueResult }}</p>
        <input type="text" id="plBlue" v-model="plBlue">
        <p v-bind:class="purpleResult">Purple: {{ purpleResult}} </p>
        <input type="text" id="plPurple" v-model="plPurple">
        <p v-bind:class="redResult">Red: {{ redResult}} </p>
        <input type="text" id="plRed" v-model="plRed">
        <p v-bind:class="orangeResult">Orange: {{ orangeResult}}</p>
        <input type="text" id="plOrange" v-model="plOrange">
        <p v-bind:class="yellowResult">Yellow: {{ yellowResult}}</p>
        <input type="text" id="plYellow" v-model="plYellow">

    </div>
    <svg id="#hex1"></svg>
    <br>
    <svg id="#hex2"></svg>
</div>



<!--
Latest version of Vue:
<script src="https://unpkg.com/vue"></script>
-->
<!-- Vue v2.3.0 -->
<script src="../../lib/vue.js"></script>
<script src="../../lib/snap.svg.js"></script>
<script src="../../lib/svg/svg.js"></script>
<script src="adjudicationMath.js"></script>

</body>
</html>