<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="ordersTest.css">
</head>
<body>
<div id="app">
    <div id="input-defender" class="container-left">
        <p> Fill in the values: </p>
        <p>Defender: </p>
        <input type="text" id="defender" v-model="defender">
        <button v-on:click="btnSubmit">Calculate Results</button>
    </div>
    <div id="input-attacker" class="container-right">
        <p> DUAL-COMBAT </p>
        <p v-bind:class="a1result">Attacker 1: {{ a1result }}</p>
        <input type="text" id="attacker1" v-model="attacker1">
        <p>Attacker 2: {{ a2result}} </p>
        <input type="text" id="attacker2" v-model="attacker2">
        <p>Attacker 3: {{ a3result}} </p>
        <input type="text" id="attacker3" v-model="attacker3">
        <p>Attacker 4: {{ a4result}}</p>
        <input type="text" id="attacker4" v-model="attacker4">
        <p>Attacker 5: {{ a5result}}</p>
        <input type="text" id="attacker5" v-model="attacker5">
    </div>
    <div id="input-attackers" class="container-right">
        <p> MULTI-COMBAT </p>
        <p v-bind:class="greenResult">Green: {{ greenResult}}</p>
        <input type="text" id="green" v-model="green">
        <p v-bind:class="blueResult">Blue: {{ blueResult }}</p>
        <input type="text" id="blue" v-model="blue">
        <p>Purple: {{ purpleResult}} </p>
        <input type="text" id="purple" v-model="purple">
        <p>Red: {{ redResult}} </p>
        <input type="text" id="red" v-model="red">
        <p>Orange: {{ orangeResult}}</p>
        <input type="text" id="orange" v-model="orange">
        <p>Yellow: {{ yellowResult}}</p>
        <input type="text" id="yellow" v-model="yellow">

    </div>
</div>

<svg id="#svg"></svg>

<!--
Latest version of Vue:
<script src="https://unpkg.com/vue"></script>
-->
<!-- Vue v2.3.0 -->
<script src="../../lib/vue.js"></script>
<script src="../../lib/snap.svg.js"></script>
<script src="../../lib/svg/svg.js"></script>
<script src="OrdersAdjudication.js"></script>

</body>
</html>