<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="CyberWar" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="CyberWar" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="CyberWar" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<!--suppress ALL -->

<html lang="en" ng-app="CyberWar" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyberWar:2025</title>
    <link rel="icon" href="favicon.ico">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular-ui-notification/dist/angular-ui-notification.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="client/css/app.css">
    <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="stage-parent">
    <div id="main-view">
        <div id="left_aside"></div>
        <div class="board"></div>
            <div ng-controller="canvasCtrl as $ctrl" class="modal-demo">
                <!--MODAL TESTING-->

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Cyber Effects & Server Status</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <ul>
                            <li ng-repeat="item in $ctrl.items">
                                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>

                                <!--ATTEMPTING TO BUTTONIZE CYBER EFFECTS IN A TABLE FOR EASY MODIFICATION AND LAUNCHING-->
                                <!--
                                <button type="button" ng-class="{{ $ctrl.buttonStyle }}" ng-click="$event.preventDefault(); $ctrl.selected.item = item" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                    {{ item }}
                                </button>
                                -->
                            </li>
                        </ul>

                        Selected: <b>{{ $ctrl.selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <!--END MODAL TESTING-->

                <!--GAME BOARD SERVER POINTS-->
                <div data-game-board-red-base id="canvasRedBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-red-1-hex id="canvasRed1Hex" callback-fn-test=""></div>
                <div data-game-board-red-2-hex id="canvasRed2Hex"></div>
                <div data-game-board-red-3-hex id="canvasRed3Hex" callback-fn-test=""></div>
                <div data-game-board-red-4-hex id="canvasRed4Hex"></div>
                <div data-game-board-red-5-hex id="canvasRed5Hex"></div>
                <div data-game-board-red-6-hex id="canvasRed6Hex"></div>
                <div data-game-board-red-7-hex id="canvasRed7Hex"></div>
                <div data-game-board-red-8-hex id="canvasRed8Hex"></div>

                <!--RED DOMAIN LINKS-->
                <div data-game-board-rbase-r1-overt-link id="canvasOvertLink"></div>
                <div data-game-board-rbase-r2-overt-link id="canvasOvertLink"></div>
                <div data-game-board-r1-r3-overt-link id="canvasOvertLink"></div>


                <div data-game-board-r1-r3-exploit-link id="canvasExploitLink"></div>
                <div data-game-board-r3-r4-exploit-link id="canvasExploitLink"></div>
                <div data-game-board-r3-r6-exploit-link id="canvasExploitLink"></div>


                <!--PURPLE DOMAIN SERVER POINTS-->
                <div data-game-board-purple-base id="canvasPurpleBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-purple-1-hex id="canvasPurple1Hex"></div>
                <div data-game-board-purple-2-hex id="canvasPurple2Hex"></div>
                <div data-game-board-purple-3-hex id="canvasPurple3Hex"></div>
                <div data-game-board-purple-4-hex id="canvasPurple4Hex"></div>
                <div data-game-board-purple-5-hex id="canvasPurple5Hex"></div>
                <div data-game-board-purple-6-hex id="canvasPurple6Hex"></div>
                <div data-game-board-purple-7-hex id="canvasPurple7Hex"></div>
                <div data-game-board-purple-8-hex id="canvasPurple8Hex"></div>

                <!--PURPLE DOMAIN LINKS-->
                <div data-game-board-pbase-p2-overt-link id="canvasOvertLink"></div>

                <div data-game-board-blue-base id="canvasBlueBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-blue-1-hex id="canvasBlue1Hex"></div>
                <div data-game-board-blue-2-hex id="canvasBlue2Hex"></div>
                <div data-game-board-blue-3-hex id="canvasBlue3Hex"></div>
                <div data-game-board-blue-4-hex id="canvasBlue4Hex"></div>
                <div data-game-board-blue-5-hex id="canvasBlue5Hex"></div>
                <div data-game-board-blue-6-hex id="canvasBlue6Hex"></div>
                <div data-game-board-blue-7-hex id="canvasBlue7Hex"></div>
                <div data-game-board-blue-8-hex id="canvasBlue8Hex"></div>

                <div data-game-board-green-base id="canvasGreenBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-green-1-hex id="canvasGreen1Hex"></div>
                <div data-game-board-green-2-hex id="canvasGreen2Hex"></div>
                <div data-game-board-green-3-hex id="canvasGreen3Hex"></div>
                <div data-game-board-green-4-hex id="canvasGreen4Hex"></div>
                <div data-game-board-green-5-hex id="canvasGreen5Hex"></div>
                <div data-game-board-green-6-hex id="canvasGreen6Hex"></div>
                <div data-game-board-green-7-hex id="canvasGreen7Hex"></div>
                <div data-game-board-green-8-hex id="canvasGreen8Hex"></div>

                <div data-game-board-yellow-base id="canvasYellowBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-yellow-1-hex id="canvasYellow1Hex"></div>
                <div data-game-board-yellow-2-hex id="canvasYellow2Hex"></div>
                <div data-game-board-yellow-3-hex id="canvasYellow3Hex"></div>
                <div data-game-board-yellow-4-hex id="canvasYellow4Hex"></div>
                <div data-game-board-yellow-5-hex id="canvasYellow5Hex"></div>
                <div data-game-board-yellow-6-hex id="canvasYellow6Hex"></div>
                <div data-game-board-yellow-7-hex id="canvasYellow7Hex"></div>
                <div data-game-board-yellow-8-hex id="canvasYellow8Hex"></div>

                <div data-game-board-orange-base id="canvasOrangeBase" callback-fn="$ctrl.open()"></div>
                <div data-game-board-orange-1-hex id="canvasOrange1Hex"></div>
                <div data-game-board-orange-2-hex id="canvasOrange2Hex"></div>
                <div data-game-board-orange-3-hex id="canvasOrange3Hex"></div>
                <div data-game-board-orange-4-hex id="canvasOrange4Hex"></div>
                <div data-game-board-orange-5-hex id="canvasOrange5Hex"></div>
                <div data-game-board-orange-6-hex id="canvasOrange6Hex"></div>
                <div data-game-board-orange-7-hex id="canvasOrange7Hex"></div>
                <div data-game-board-orange-8-hex id="canvasOrange8Hex"></div>

                <!--INTER-DOMAIN EXPLOIT LINKS-->
                <div data-game-board-r1-p2-exploit-link id="canvasExploitLink"></div>
                <!--INTER-DOMAIN OVERT LINKS-->
                <div data-game-board-r1-p2-overt-link id="canvasOvertLink"></div>


            </div>

        <div class="ui-area" ng-controller="uiCtrl as $ctrl">
            <div class="effects">
                <div id="effects-window">
                    <table>
                        <tr>
                            <td colspan="4" align="center" width="400px" height="30px">&nbsp;Cyber Effects Window&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" width="100px">DCO/CND</td>
                            <td align="center" width="100px">OCO/CNO</td>
                            <td align="center" width="100px">CNE</td>
                            <td align="center">Cost to Use:</td>
                        </tr>
                        <tr>
                            <td height=40px ng-style="{'background-color': 'white'}">Secure</td>
                            <td height=40px ng-style="{'background-color': 'white'}">Acquire</td>
                            <td height=40px ng-style="{'background-color': 'white'}">Scan</td>
                            <td align=center>1</td>
                        </tr>
                        <tr>
                            <td ng-style="{'background-color': effectsL2DCO}" height=40px>Expel</td>
                            <td ng-style="{'background-color': effectsL2OCO}" height=40px>Manipulate</td>
                            <td ng-style="{'background-color': effectsL2CNE}" height=40px>Exploit</td>
                            <td align=center>2</td>
                        </tr>
                        <tr>
                            <td ng-style="{'background-color': effectsL3DCO}" height=40px>Analyze</td>
                            <td ng-style="{'background-color': effectsL3OCO}" height=40px>Deny</td>
                            <td ng-style="{'background-color': effectsL3CNE}" height=40px>Implant</td>
                            <td align=center>3</td>
                        </tr>
                        <tr class="ui-row">
                            <td>
                                <div class="recharge-meter">
                                    <div class="meter-bg">
                                        <div class="blocks" ng-repeat="meter in getMeterArray(8) track by $index" ng-click="invest($index + 1)"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="recharge-meter">
                                    <div class="meter-bg">
                                        <div class="blocks" ng-repeat="meter in getMeterArray(8) track by $index" ng-click="invest($index + 1)"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="recharge-meter">
                                    <div class="meter-bg">
                                        <div class="blocks" ng-repeat="meter in getMeterArray(8) track by $index" ng-click="invest($index + 1)"></div>
                                    </div>
                                </div>
                            </td>
                            <td height=10px align="center" margin-left="auto" margin-right="auto">Action Points</td>
                        </tr>
                        <tr>
                            <td align="center"><button type="button" class="minusPlusBtn" ng-click="invest(-1)"> - </button><button type="button" class="minusPlusBtn" ng-click="invest(1)"> + </button></td>
                            <td align="center"><button type="button" class="minusPlusBtn" ng-click="invest(-1)"> - </button><button type="button" class="minusPlusBtn" ng-click="invest(1)"> + </button></td>
                            <td align="center"><button type="button" class="minusPlusBtn" ng-click="invest(-1)"> - </button><button type="button" class="minusPlusBtn" ng-click="invest(1)"> + </button></td>
                            <td align="center" class="actionPointsNumber">{{actionPoints}}</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="submitBtnArea">
                <button type="submitButton" class="submitBtn" align="center"> Submit Orders </button>
            </div>
            <div class="adjudication">Orders Adjudication:
                <ul class="adjudicationUnorderedList" ui-scroll-viewport>
                    <li class="adjudicationList" ng-repeat="order in orders" class="{'fadeOut' : order.done}">
                        <span class="fa fa-close" ng-click="deleteOrder($index)"></span>
                        <span>{{order.title}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--
        <div id="buttons">
            <input type="button" id="activate" value="Activate rectangle">
        </div>
        -->
        <div data-orders-adjudication-list id="canvasOrdersAdjudicationList">
            <form name="ordersFrm" ng-submit="addOrder()">
                <input type="text" name="newOrder" ng-model="newOrder" required />
                <button ng-disabled="ordersFrm.$invalid" ng-click="addOrder()">Add</button>
        </form>
        </div>
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="node_modules/angular-ui-scroll/dist/ui-scroll.js"></script>
    <script src="node_modules/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="node_modules/howler/dist/howler.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/konva/konva.js"></script>
    <script src="app/components/version/version.js"></script>
    <script src="app/components/version/version-directive.js"></script>
    <script src="app/components/version/interpolate-filter.js"></script>

    <!--LIBRARIES-->
    <script src="client/js/canvas/mainKonvaStage.js"></script>
    <script src="client/js/canvas/domainLibs/konvaConfigSettings.js"></script>
    <script src="client/js/canvas/domainLibs/serverPointCoordinates.js"></script>
    <script src="client/js/canvas/boardItems/mainBoard.js"></script>
    <script src="client/js/canvas/boardItems/mainBoardLinks.js"></script>
    <script src="client/js/canvas/boardItems/interactiveBoxes.js"></script>

    <!--CONTROLLERS-->
    <script src="client/js/controller/canvasCtrl.js"></script>
    <script src="client/js/controller/uiCtrl.js"></script>
    <script src="client/js/controller/modalInstanceCtrl.js"></script>


    <!--DIRECTIVES-->
    <script src="client/js/directive/serverDomain/redDomain.js"></script>
    <script src="client/js/directive/serverDomain/purpleDomain.js"></script>
    <script src="client/js/directive/serverDomain/blueDomain.js"></script>
    <script src="client/js/directive/serverDomain/greenDomain.js"></script>
    <script src="client/js/directive/serverDomain/yellowDomain.js"></script>
    <script src="client/js/directive/serverDomain/orangeDomain.js"></script>

    <script src="client/js/directive/overtLinks/redDomainOvertLinks.js"></script>
    <script src="client/js/directive/overtLinks/purpleDomainOvertLinks.js"></script>
    <script src="client/js/directive/overtLinks/interDomainOvertLinks.js"></script>

    <script src="client/js/directive/exploitLinks/redDomainExploitLinks.js"></script>
    <script src="client/js/directive/exploitLinks/interDomainExploitLinks.js"></script>


    <script src="client/js/directive/action.js"></script>

    <!--INTERACTION WINDOWS-->
    <script src="client/js/canvas/boardItems/cyberEffectsWindow.js"></script>
    <script src="client/js/directive/ordersAdjudicationList.js"></script>

    <!--CANVAS DOMAINS-->
    <script src="client/js/canvas/redDomain/redDomainServers.js"></script>
    <script src="client/js/canvas/redDomain/redDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/redDomain/redDomainExploitLinks.js"></script>
    <script src="client/js/canvas/redDomain/redDomainServerText.js"></script>

    <script src="client/js/canvas/purpleDomain/purpleDomainSevers.js"></script>
    <script src="client/js/canvas/purpleDomain/purpleDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/purpleDomain/purpleDomainExploitLinks.js"></script>
    <script src="client/js/canvas/purpleDomain/purpleDomainServerText.js"></script>

    <script src="client/js/canvas/blueDomain/blueDomainServers.js"></script>
    <script src="client/js/canvas/blueDomain/blueDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/blueDomain/blueDomainExploitLinks.js"></script>
    <script src="client/js/canvas/blueDomain/blueDomainServerText.js"></script>

    <script src="client/js/canvas/greenDomain/greenDomainServers.js"></script>
    <script src="client/js/canvas/greenDomain/greenDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/greenDomain/greenDomainExploitLinks.js"></script>
    <script src="client/js/canvas/greenDomain/greenDomainServerText.js"></script>

    <script src="client/js/canvas/yellowDomain/yellowDomainServers.js"></script>
    <script src="client/js/canvas/yellowDomain/yellowDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/yellowDomain/yellowDomainServerText.js"></script>
    <script src="client/js/canvas/yellowDomain/yellowDomainExploitLinks.js"></script>

    <script src="client/js/canvas/orangeDomain/orangeDomainServers.js"></script>
    <script src="client/js/canvas/orangeDomain/orangeDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/orangeDomain/orangeDomainExploitLinks.js"></script>
    <script src="client/js/canvas/orangeDomain/orangeDomainServerText.js"></script>

    <!--CANVAS INTER-DOMAIN-->
    <script src="client/js/canvas/interDomain/interDomainPrimaryLinks.js"></script>
    <script src="client/js/canvas/interDomain/interDomainExploitLinks.js"></script>

</div>
</body>
</html>
