<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Cyber Effects & Server Status</h3>
</div>
<div class="modal-body" id="modal-body">
  <span class="server-status">
    <div ng-if="validActions.length > 0">
      <b>Action To Perform:</b>
      <label ng-repeat="action in validActions">
        <input type="radio" ng-model="selected.action" ng-value="action" ng-change="selectAction(action)"><action type="action"></action>
      </label>
    </div>

    <!-- Source node picker -->
    <div ng-if="usableSourceNodes.length > 0">
      <b>Choose Source Node:</b>
      <label ng-repeat="node in usableSourceNodes">
        <input type="radio" ng-model="selected.params.source" ng-value="node" ng-change="updateActionCost()"><node node="node"></node>
      </label>
    </div>

    <!-- Color picker -->
    <div ng-if="needColor">
      <b>Choose Opponent Color:</b>
      <label ng-repeat="(key, color) in validColors">
        <input type="radio" ng-model="selected.params.color" ng-value="color" ng-change="updateActionCost()">{{color}}
      </label>
    </div>

    <div ng-if="selected.action">
      <b>Action Cost:</b> {{actionCost}}
    </div>

    <div ng-if="selectedNode.location.index">
      <div><node label="'Selected Node'" node="selectedNode.location"></node></div>
      <div>
        <span><player label="'Owner'" color="displayedOwner"></player></span>
        <span ng-if="manipulateOwner"><player label="'False Owner'" color="manipulateOwner"></player></span>
        <span><b>Strength:</b> {{displayedStrength}}</span>
      </div>
    </div>
    <div ng-if="selectedNode.location.index == 0">
      <div><player label="'Selected Base'" color="selectedNode.location.color"></player></div>
      <chat ng-if="shouldShowChat(selectedNode.location.color)" to="getChatToName(selectedNode.location.color)"></chat>
    </div>
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="!canMakeOrder()" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
