<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Cyber Effects & Server Status</h3>
</div>
<div class="modal-body" id="modal-body">
  <div ng-if="validActions.length > 0">
    Action To Perform:
    <label ng-repeat="action in validActions">
      <input type="radio" ng-model="selected.action" ng-value="action">{{action}}
    </label>
  </div>

  <!-- Source node picker -->
  <div ng-if="needSource">
    Choose Source Node:
    <label ng-repeat="node in ownedAdjacentNodes">
      <input type="radio" ng-model="selected.params.source" ng-value="node">{{node.color}} {{node.index}}
    </label>
  </div>

  <!-- Color picker -->
  <div ng-if="needColor">
    Choose Opponent Color:
    <label ng-repeat="(key, color) in validColors">
      <input type="radio" ng-model="selected.params.color" ng-value="color">{{color}}
    </label>
  </div>

  <div>Selected Node: {{selectedNode.location.color}} {{selectedNode.location.index}}</div>
  <div>Owner: {{selectedNode.ownerColor}}</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
