/* app css stylesheet */
body {

    background: #242323 url("/client/img/newBackground-01.png") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu {
  list-style: none;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.center {
    text-align: center;
}

#stage-parent {
    text-align: center;
    width: 1740px;
    height: 1025px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

#main-view{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: orange;
    border-width: 3px;
}

#text {
    color: white;
}

/*
Left Area UI styling
 */
#left_aside {
    height: 950px;
    width: 375px;
    background-color: #4F4E4E;
    float: left;
    border: 2px solid black;
    color: black;
}
#left_aside .round-indicator {
    height: 5%;
    width: 100%;
    font-size: large;
}
#left_aside .reports {
    height: 5%;
    width: 100%;
    color: black;
}
#left_aside ready-indicator {
    height: 120px;
    width: 100%;
    display: block;
}
#left_aside chat {
    width: 100%;
    height: 75%;
    padding: 10px;
    border-top: 1px solid black;
    display: block;
    color: #e1e1e1;
}

#effects-window {
    width: 100%;
    text-align: center;
}
#effects-window td.title {
    width: 400px;
    height: 30px;
}
#effects-window td.header {
    font-weight: bold;
    width: 100px;
}
#effects-window td.inner {
    border-right-width: 2px;
}
#effects-window td.effect {
    height: 35px;
}
#effects-window td.inner.effect {
    cursor: pointer;
}
#effects-window td.effect.unlocked {
    background-color: #36A332;
}
#effects-window td.effect.partially-unlocked {
    background-color: #DBA81D;
}
#effects-window td.effect.locked {
    background-color: #B10C00;
}

.board {
    height: 945px;
    width: 55%;
    float: left;
}
#ui-area {
    height: 950px;
    width: 375px;
    background-color: #4F4E4E;
    float: left;
    border: 2px solid black;
    color: black;
}
.adjudication{
   /* height: 70%; */
    width: 100%;
    position: relative;
    padding-top: 1%;
}
.effects{
    color: black;
    width: 100%;
    position: inherit;
    background-color: #4F4E4E;

}
.submitBtnArea {
    height: 6%;
    width: 100%;
    position: inherit;
    padding-top: 3%;
    border-top: 1px black solid;
}
.submitBtn {
    height: 35px;
    width: 150px;
    background-color: gray;
    border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.submitBtn:not([disabled]) {
    background-color: darkred;
    color: white;
    animation: blinker .3s linear alternate infinite;
}
@keyframes blinker {
    from {color: gray;}
    to {color: white;}
}
.minusPlusBtn {
    background-color: lightgray;
    width: 50%;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    outline: 0;
}
.minusPlusBtn:hover {
    background-color: #4F4E4E;
    color: white;
}
.actionPointsNumber {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 28px;
    vertical-align: middle;
    border-right: none;

}

td {
    border: 1px black solid;
    border-top-style: none;
    border-left-style: none;
}
.last {
    border-right: none;
}

#orders-list {
    height: 100%;
}
.adjudicationUnorderedList {
    list-style: none;
    padding-left: 0;
}

.adjudicationList {
    border: 1px solid black;
    display: block;
    padding: 1px;
    color: #e1e1e1;
    background: #2e3131;
    margin-bottom: 1px;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}
.fa-close {
    cursor: pointer;
}
.ui-row {
    height: 40px;
}

/*
UI blocks will start a gray, then when a point is added it's a yellow color for a temporary choice.
When the round is finished it'll be a blue color, signifying a permanent choice.
 */
.blocks {
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 25%;
    height: 1.4em;
    text-align:center;
    background: dimgray;
    float: left;
}

.blocks.paid {
    background: #0735A8;
    float: left;
}

.blocks.invested {
    background: #E6DC25;
    float: left;
}

.wrap{
    width:125px;
}

.cyberEffectYellow {
    color: gold;
}

.cyberEffectRed {
    color: crimson;
}

/*
Reports Dialog styling
 */
.report-container {
    height: 500px;
    overflow-y: auto;
}
.report-container .exploit-link node-link {
    display: block;
}

/*
Server Status Dialog styling
 */
.server-status chat {
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: dimgray;
    display: block;
    color: white;
}

/*
Ready Indicator Directive styling
 */
 .pressure-indicator {
     margin-top: -20px;
}
.pressure-indicator .ready-indicator {
    display: inline-block;
    border-width: 1px;
    width: 33%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: #2abe3d;
    text-align: center;
    color: black;
}
.pressure-indicator .ready-indicator.not-ready {
    animation: not-ready .6s linear alternate infinite;
}
@keyframes not-ready {
    from { background-color: #DBA81D; }
    to { background-color: #E6DC25; }
}
.pressure-indicator .ready-indicator.eliminated {
    background-color: dimgray;
}

/*
Chat directive styling
 */
.chat-container {
    height: 100%;
    background-color: #2e3131;
    padding: 10px;
}
.chat-messages {
    height: 90%;
    overflow-y: auto;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.chat-container form {
    height: 10%;
    color: black;
    position: relative;
}
.chat-container form input {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 80%;
}
.chat-container form button {
    position: absolute;
    top: 50%;
    right: 0px;
    padding-top: 5px;
    display: block;
    color: black;
}
