/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.center {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    background-color: #fefefe;
}
#stage-parent{
    width: 100%;
    text-align: center;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
